<footer class="bg-white bottom-0 w-100" role="contentinfo">
    <div class="flex flex-column justify-around pa3 pb5">
        <div class="flex justify-between w-100 center sponsor">
            <div class="flex flex-column center">
                <a href="" target="_blank">
                    <img src="/sponsors/Janestreet.svg" alt="Jane Street" height="130px">
                </a>
                <span>Gold Sponsor</span>
            </div>
            <div class="flex flex-column center">
                <a href="" target="_blank">
                    <img src="/sponsors/Imc.webp" alt="IMC Trading">
                </a>
                <span>Gold Sponsor</span>
            </div>
            <div class="flex flex-column center">
                <a href="" target="_blank">
                    <img src="/sponsors/betterbe.svg" alt="Better Be" width="500px" style="padding-bottom: 35px; padding-top:35px">
                </a>
                <span>Sponsor</span>
            </div>
        </div>
    </div>
    <div class="flex justify-between {{ .Site.Params.background_color_class | default "bg-black" }} pa3">
        <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}">
            &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
        </a>
        <div>{{ partialCached "social/follow.html" . }}</div>
    </div>
</footer>
